body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4f4846;
    margin: 0;
    padding:0;
}
nav {
    background-color: #266150;
    text-align: right;
    padding: 5px;
    border-bottom: #e8cebf solid 8px;
}
li {
    display: inline;
    text-align: right;
    color: white;
    padding-left: 20px;
    padding-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 15px;
}
input {
    margin: 0;
    width: 60%;
    height: 7px;
    border: black solid 1px;

}
label {
    font-size: 12px;
}
button {
    padding: 5px 15px 5px 15px;
    font-size: 5px;
    background-color: #4f4846;
    color: white;
}
footer {
    text-align: center;
    color: white;
    background-color: #266150;
    padding: 5px;
    border-bottom: #383737 solid 8px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.section-1 {
    text-align: center;
    background-color: #fdf8f5;
    padding: 1px; /*Only addded so I can touch each block, check alter how to do this better */

}

.section-2 {
    text-align: center;
    background-color: #e8cebf;
    padding: 1px;
    border-top: #ddaf94 solid 3px;
}

.section-1-text {
    font-size: 10px;
}

.block1 {
    background-color: #504846;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.block2 {
    background-color: #504846;
    height: 172px;
    width: 172px;
    border: solid 4px #e8cebf;
    position: absolute;
    top: 10px;
    left:10px;
} 

.block3 {
    background-color: #504846;
    height: 144px;
    width: 144px;
    border: solid 4px #26614f;
    position: absolute;
    top: 10px;
    left:10px;
}

.block4 {
    background-color: #504846;
    height: 116px;
    width: 116px;
    border: solid 4px #ddaf95;
    position: absolute;
    top: 10px;
    left:10px;    
}


.block5 {
    color: #e8cebf;
    background-color: #504846;
    width: 50px;
    height: 25px;
    border: solid #444444 2px;
    word-wrap: break-word;
    font-size: 12px;
    position: absolute;
    top: 43px;
    left: 31px;

}
#contact-block {
    border: #ddaf94 solid 3px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

